doctype html
html
  head
    title= "ISR Tax Calculator"
    link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    .navbar-fixed
      nav.blue
        .nav-wrapper
          a(href="/dashboard" class="brand-logo center") ISR Tax Calculator
          ul.right.hide-on-med-and-down
            li
              a(href='/employee')
                i.material-icons perm_identity
    .section
      block content
    script(src="/jquery/dist/jquery.min.js")
    script(src="/Materialize/dist/js/materialize.min.js")
    block script
    script.
      $('.datepicker').pickadate({
        selectMonths: false, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });
      $(document).ready(function () {
        $('select').material_select();
      });