//Created by mario on 4/21/2016.
extends ../shared/layout
block content
    .row
        form.col.s12(action="/employee" method="post")
            .row
                .input-field.col.s6
                    input(type="text" id="name" name="name" class="validate")
                    label(for="name") Name
                .input-field.col.s6
                    input(type="text" id="lastName" name="lastName" class="validate")
                    label(for="lastName") Last Name
                .input-field.col.s6
                    input(type="text" id="secondLastName" name="secondLastName" class="validate")
                    label(for="secondLastName") Second Last Name
                .input-field.col.s6
                    input(type="text" id="RFC" name="RFC" class="validate")
                    label(for="RFC") RFC
                .input-field.col.s6
                    input(type="text" id="socialSecurityNumber" name="socialSecurityNumber" class="validate")
                    label(for="socialSecurityNumber") Social Security Number
                .input-field.col.s6
                    input(type="text" id="dailySalary" name="dailySalary" class="validate")
                    label(for="dailySalary") Daily Salary
                .input-field.col.s6
                    input(type="date"  id="hiringDate" name="hiringDate" class=" datepicker validate")
                    label(for="hiringDate") Hiring Date
                .input-field.col.s6
                    input(type="text" id="workingDays" name="workingDays" class="validate")
                    label(for="workingDays") Working Days
                //.input-field.col.s6
                //    select(required name="department")
                //        option(value="" class="disabled selected") Seleccione un departamento
                //        option(value="Recursos Humanos") Recursos Humanos
                .input-field.col.s12
                    button(class="btn waves-effect waves-light" type="submit" name="action") Agregar Usuario
                        i(class="material-icons right") send



